<h1>Editing department</h1>

<%= render 'form' %>

<%= link_to 'Show', factory_department_path(@department.factory_id, @department) %> |
<%= link_to 'Back', factory_departments_path(@department.factory_id) %>
