<h1><%= t('actions.department.edit', :item => @department.name ) %></h1>

<%= render 'form' %>

<%= link_to t('links.show'), factory_department_path(@department.factory_id, @department) %> |
<%= link_to t('links.back'), factory_path(@department.factory_id) %>
