<header>
<!-- 			<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %> -->
	<div class="round" style="background: cadetblue; color: white; width: 100px;padding: 20px; float: none; text-align: center;">
		<a href="<%= root_path%>">
			<h1 style="margin: 0; color: #FFF">Zavod</h1>
			<h2 style="margin: 0; color: #FFF">Test App</h2>
		</a>
	</div>
	<nav class="round">
		<ul>
			<li><%= link_to "Edit", '#' %></li>
			<li><%= link_to "Reports", '#' %></li>
		</ul>
	</nav>
</header>
